
li {
    line-height: 1.75;
}

.addWhiteSpace {
    padding: 2rem;
}

header {
    text-align: center;
    background-color: lightseagreen;
    color: white;
}

img {
    width: 100%;    
    background-size: 100% 100%;
    background-repeat: cover;    
}

@media screen and (min-width: 767px) {
    .top {
        height: 40vh;
    }
}

h1 {
    text-align: center;
    color: lightseagreen;
}


section {
    background-color: white;
    padding-top: 2vh;
}

footer {
    margin-top: 4vh;
    margin-bottom: 2vh;
    text-align: center;
}

footer > ul {
    list-style: none;
}

blockquote {
    text-align: center;
}


blockquote:before {
    content: open-quote;
    display: inline;
}

blockquote:after {
    content: close-quote;
    display:inline;
}

h4, h3, .card-text {
    text-align: center;
}

#copyright {
    font-weight: 500;
}

.card {
    border: none !important;
}